@use '../utils/variables';

.section-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .section-homepage-content {
        color: white;
        text-align: center;

        h1 {
            font-size: 4rem;
            text-transform: uppercase;
        }

        h2 {
            color: white;
            font-size: 1rem;
        }
    }
}

.section-search {
    margin-top: -75px;

    form {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        padding: 3rem 0;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        select {
            padding: 0 1rem;
        }
    }
}

.list-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
    gap: 2rem;

    article {
        position: relative; /* Pour que le overlay soit en absolute par rapport à l'article */

        &:first-child {
            grid-column-start: span 2;
        }

        &:hover {
            img {
                filter: brightness(90%);
            }
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
            filter: brightness(70%);
            transition: filter 0.5s;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }
}

@media screen and (max-width: variables.$breakpoint-desktop) {
    .section-search {
        form {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: variables.$breakpoint-tablet) {
    .list-categories {
        grid-template-columns: repeat(2, 1fr);

        article {
            &:first-child {
                grid-column-start: span 1;
            }
        }
    }
}

@media screen and (max-width: variables.$breakpoint-smartphone) {
    .list-categories {
        grid-template-columns: repeat(1, 1fr);
    }
}