@use '../utils/variables';

.btn {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border: 2px solid transparent;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;

    &.btn-primary {
        color: white;
        background-color: variables.$color-primary;

        &:hover {
            color: variables.$color-primary;
            background-color: white;
            border-color: variables.$color-primary;
        }
    }

    &.btn-secondary {
        color: white;
        background-color: variables.$color-secondary;

        &:hover {
            color: variables.$color-secondary;
            background-color: white;
            border-color: variables.$color-secondary;
        }
    }
}