@use '../utils/variables';

.list-properties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.property-card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
        .property-card-header {
            img {
                transform: scale(1.1);
            }
        }
    }

    .property-card-header {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            transition: transform 0.5s;
        }

        .badge {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .header-info {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            color: white;

            .header-info-icons {
                display: flex;
                gap: 0.5rem;

                .bg-transparent {
                    padding: 0.5rem;
                }
            }
        }
    }

    .property-card-content {
        flex-grow: 1;
        padding: 1rem;
        border-bottom: 1px lightgray solid;

        .property-price {
            font-weight: bold;
            color: variables.$color-secondary;

            .property-price-duration {
                font-weight: normal;
                font-size: 0.8rem;
            }
        }

        p {
            text-align: justify;
        }

        .property-card-features {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            > li {
                padding: 0 1rem;
                
                &:not(:last-child) {
                    border-right: 1px solid lightgray;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .property-card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        address {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            > div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }

        ul {
            display: flex;
            gap: 0.5rem;
            list-style-type: none;
            margin: 0;
            padding: 0;

            > li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                    background-color: lightgray;
                }
            }
        }
    }
}

@media screen and (max-width: variables.$breakpoint-desktop) {
    .list-properties {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: variables.$breakpoint-tablet) {
    .list-properties {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: variables.$breakpoint-smartphone) {
    .list-properties {
        grid-template-columns: repeat(1, 1fr);
    }
}
